@import "tailwindcss";

:root {
  --border: #303032;
  --input: #303032;
  --sidebar-border: #303032;
  --app-separator-subtle: #f4f4f4;
}

.border-app-separator-subtle {
  border-color: var(--app-separator-subtle);
}

.border-b-app-separator-subtle {
  border-bottom-color: var(--app-separator-subtle);
}

.bg-app-separator-subtle {
  background-color: var(--app-separator-subtle);
}
